Makefile
autom4te.cache
config.log
config.status
libtool
stamp-h1
tools/mib2svg.cgi
tools/smicache
tools/smidiff
tools/smidump
tools/smilint
tools/smiquery
tools/smistrip
tools/smixlate
lib/parser-smi.c
lib/parser-smi.tab.h
lib/scanner-smi.c
lib/smi_config.3
test/parser.test
win/parser-smi.c
win/parser-smi.tab.h
win/scanner-smi.c
