[Desktop Entry] 
Exec=snmpb
TryExec=snmpb
Name=SnmpB
Icon=snmpb
Categories=Qt;Network;Utility;
Type=Application
MimeType=text/x-mib;text/x-mib2;text/x-pib;text/x-pib2;text/x-smi
